%% -*- mode:erlang -*-
{eunit_opts,          [{report, {eunit_report_surefire, [{dir,"."}]}}]}.
{erl_opts,            [debug_info, warnings_as_errors]}.
{deps,                []}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{cover_min_coverage,  80}.
{xref_checks,         [ undefined_function_calls
                      , deprecated_function_calls]}.

%% This setting is only relevant in kred
{lib_dirs, ["..", "../test"]}.

%% This setting is only relevant when unit testing this application
{deps_dir,            "lib"}.
