%% -*- mode:erlang -*-
{eunit_opts,           [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{erl_opts,             [ debug_info
                       , warnings_as_errors
                       , {platform_define, "^(?!R)", otp_17_or_above}
                       ]}.
{deps_dir,             "lib"}.
{lib_dirs,             ["lib"]}.
{cover_enabled,        true}.
{cover_print_enabled,  true}.
{cover_min_coverage,   80}.
{xref_checks,          [ undefined_function_calls
                       , deprecated_function_calls]}.
{deps,
 [ {mochijson3, ".*", {git, "ssh://git@stash.int.klarna.net:7999/external/mochijson3.git",
                       {tag, "0.1.0"}}}
 , {jsonx, ".*", {git, "ssh://git@stash.int.klarna.net:7999/external/jsonx.git",
                  {tag, "3.0.0"}}}
 ]}.
