%% -*- mode:erlang -*-
{erl_opts,             [ debug_info
                       , warnings_as_errors
                       , {d,'NOTEST'}
                       ]}.
{eunit_opts,           [verbose]}.
{xref_checks,          [ undefined_function_calls
                       , deprecated_function_calls
                       ]}.
{edoc_opts,           [{preprocess, true}]}.
{deps,
 [ {jsone, "1.4.6"},
   {snappyer, "1.2.8"}
 ]}.

{cover_opts, [verbose]}.
{cover_enabled, true}.
{cover_export_enabled, true}.

{dialyzer, [{warnings, [unknown]}]}.
